*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Karla", sans-serif;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 1rem;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  padding: 0;
  display: block;
}

input[type=button],
input[type=reset],
input[type=submit] {
  background-color: transparent;
  background-image: none;
}

textarea {
  resize: vertical;
}

@media (min-width: 325px) {
  .main-app {
    background-color: hsl(148, 38%, 91%);
    padding: 2em 1em;
    min-height: 100svh;
  }
  .main-app .app-container {
    display: grid;
    gap: 2em 0;
    padding: 1.5em 1em;
    background-color: white;
    border-radius: 0.8em;
  }
  .main-app .app-container__header {
    font-size: 2rem;
    color: hsl(187, 24%, 22%);
  }
  .main-app .app-container .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5em 0;
    color: hsl(187, 24%, 22%);
    font-weight: 400;
  }
  .main-app .app-container .form .star-color {
    color: hsl(169, 82%, 27%);
    padding-left: 0.5em;
  }
  .main-app .app-container .form__input {
    padding: 0.75em 1.5em;
    margin-top: 0.75em;
    width: 100%;
    border-radius: 0.8em;
    border: 0.1em solid hsl(186, 15%, 59%);
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
    outline-color: hsl(169, 82%, 27%);
    cursor: pointer;
  }
  .main-app .app-container .form__input:hover {
    border: 0.1em solid hsl(169, 82%, 27%);
  }
  .main-app .app-container .form__query-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25em;
  }
  .main-app .app-container .form__query-area .general-enquiry-label,
  .main-app .app-container .form__query-area .support-request-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.75em 1.5em;
    border-radius: 0.8em;
    border: 0.1em solid hsl(186, 15%, 59%);
    -webkit-transition: background-color 0.3s, border 0.3s;
    transition: background-color 0.3s, border 0.3s;
    cursor: pointer;
  }
  .main-app .app-container .form__query-area .general-enquiry-label__query-radio,
  .main-app .app-container .form__query-area .support-request-label__query-radio {
    margin-right: 0.75em;
    width: 0.9em;
  }
  .main-app .app-container .form__query-area .general-enquiry-label__query-radio-activated,
  .main-app .app-container .form__query-area .support-request-label__query-radio-activated {
    content: url("../img/icon-radio-selected.svg");
    background-size: 90%;
    background-position: right center;
    background-repeat: no-repeat;
  }
  .main-app .app-container .form__query-area .general-enquiry-label:hover,
  .main-app .app-container .form__query-area .support-request-label:hover {
    background-color: hsl(148, 38%, 91%);
    border: 0.1em solid hsl(187, 24%, 22%);
  }
  .main-app .app-container .form__query-area .general-enquiry-label-active,
  .main-app .app-container .form__query-area .support-request-label-active {
    background-color: hsl(148, 38%, 91%);
    border: 0.1em solid hsl(187, 24%, 22%);
  }
  .main-app .app-container .form__text-area {
    margin-top: 0.75em;
    width: 100%;
    min-height: 35svh;
    padding: 1em 1.5em;
    outline-color: hsl(169, 82%, 27%);
    border-radius: 0.8em;
    border: 0.1em solid hsl(186, 15%, 59%);
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
  }
  .main-app .app-container .form__text-area:hover {
    border: 0.1em solid hsl(169, 82%, 27%);
  }
  .main-app .app-container .form__checkbox {
    width: 1em;
  }
  .main-app .app-container .form__checkbox-activated {
    content: url("../img/icon-checkbox-check.svg");
    background-size: 90%;
    background-position: right center;
    background-repeat: no-repeat;
  }
  .main-app .app-container .form__confirm-form-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
  }
  .main-app .app-container .form__submit-button {
    padding: 1em 2em;
    border-radius: 0.8em;
    border: none;
    background-color: hsl(169, 82%, 27%);
    color: hsl(148, 38%, 91%);
    font-weight: 700;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  .main-app .app-container .form__submit-button:hover {
    background-color: hsl(187, 24%, 22%);
  }
}
.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .main-app {
    padding: 4em 0;
  }
  .main-app .app-container {
    padding: 2em;
  }
  .main-app .app-container .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
  .main-app .app-container .form__first-name {
    width: 100%;
    grid-column: 1/2;
  }
  .main-app .app-container .form__last-name {
    grid-column: 2/3;
    width: 100%;
  }
  .main-app .app-container .form__email-address {
    grid-column: 1/3;
  }
  .main-app .app-container .form__query-area {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
  .main-app .app-container .form__query-area .general-enquiry-label {
    grid-column: 1/2;
  }
  .main-app .app-container .form__message {
    grid-column: 1/3;
  }
  .main-app .app-container .form__text-area {
    min-height: 20svh;
  }
  .main-app .app-container .form__confirm-form-area {
    grid-column: 1/3;
    width: 100%;
    padding: 1em 0;
  }
  .main-app .app-container .form__checkbox {
    width: 1.5em;
  }
  .main-app .app-container .form__submit-button {
    grid-column: 1/3;
  }
}/*# sourceMappingURL=style.css.map */