@use "./reset" as *;
@use "./font" as *;
@use "./colors" as *;
@use "./mixins" as *;
@media (min-width: 325px) {
  .main-app {
    background-color: $primary-green;
    padding: 2em 1em;
    min-height: 100svh;
    .app-container {
      display: grid;
      gap: 2em 0;
      padding: 1.5em 1em;
      background-color: white;
      border-radius: .8em;
      &__header{
        font-size: $header-size;
      }
      .form{
        display: flex;
        flex-direction: column;
        gap: 1.5em 0;
        &__input{
          padding: 1em 2em;
          margin-top: .75em;
          width: 100%;
          border-radius: .8em;
          border: .1em solid $neutral-primary-grey;
        }
      }
    }
  }
}
