@use "./reset" as *;
@use "./font" as *;
@use "./colors" as *;
@use "./mixins" as *;
@media (min-width: 325px) {
  .main-app {
    background-color: $primary-green;
    padding: 2em 1em;
    min-height: 100svh;
    .app-container {
      display: grid;
      gap: 2em 0;
      padding: 1.5em 1em;
      background-color: white;
      border-radius: 0.8em;
      &__header {
        font-size: $header-size;
      }
      .form {
        @include flex-column;
        gap: 1.5em 0;
        .star-color{
          color: $secondary-green;
          padding-left: .5em;
        }
        &__input {
          padding: 1em 2em;
          margin-top: 0.75em;
          width: 100%;
          border-radius: 0.8em;
          border: 0.1em solid $neutral-primary-grey;
        }
        &__query-area {
          @include flex-column;
          gap: 1.25em;
          .general-enquiry-label,
          .support-request-label {
            display: flex;
            padding: 1em 1.5em;
            border-radius: 0.8em;
            border: 0.05em solid $neutral-primary-grey;
            &__query-radio{
              margin-right: .75em;
              width: .9em;
            }
          }
        }
      }
    }
  }
}
