@use "./reset" as *;
@use "./font" as *;
@use "./colors" as *;
@use "./mixins" as *;
@media (min-width: 325px) {
  .main-app {
    background-color: $primary-green;
    padding: 2em 1em;
    .app-container {
      padding: 1.5em 1em;
      background-color: white;
      border-radius: .8em;
      min-height: 100svh;
      &__header{
        font-size: $header-size;
      }
      .form{
        display: flex;
        flex-direction: column;
      }
    }
  }
}
