*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  line-height: 1.5;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, "Karla", sans-serif;
}
button,
input,
textarea {
  font-family: inherit;
  font-size: 1rem;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  padding: 0;
}
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: transparent; 
  background-image: none;
}